.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
.grey  {
    background: rgba(20, 190, 147, 0.89);
}

.grey-text {
    color: #2a0c4e;
}
.green {
    background: rgba(182, 208, 16, 0.89);
}

.green-text {
    color: #060101;
}