.defaulSpan {
    font-size: 17px;
    border: solid deepskyblue 2px;
    border-radius: 4px;
    background-color: cornsilk;
    font-family:Algerian;

}
.defaulSpan:hover{
    color:blueviolet;
    transition: 0.7s;
    font-size: 17px;
    border: solid black 2px;
    border-radius: 4px;
    background-color: whitesmoke;
}
